.my-btn {
    color: #000000; 
    border: 1px solid #ffffff; 
    background: -moz-linear-gradient(#e2e2e2, #808080);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#808080)); 
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 14px; padding: 5px 20px;
    font-weight: 700;
    align:center;
}